table{
    border-collapse: collapse;
}

tr {
    padding-top: 10px;
    padding-bottom: 10px;
}

form{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
